@import "./mixins/Stroke.scss";

#iframe-page-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#promoImgHolder,
#gameName,
#rightCardHolder,
#mobileDownloadButtonContainer,
#touch-controls-left,
#touch-controls-right,
#touch-controls-fullscreen,
#partyButton,
#joinPartyButton,
#guideCard > *:not(#serverBrowser, #altServer, #skinColorHolder, .settingRadio) {
    display: none!important;
}

#setupCard {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background: #bdbdbd44;
    box-shadow: none;
}

#linksContainer2 {
    background: #505050;
}

#setupCard > * {
    margin: 0!important;
}

.actionBarItem {
    position: relative;
}

.itemCounter {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.95em;
    color: white;
    @include stroke(#3d3f42);

    &.hidden {
        display: none;
    }
}

#onetrust-consent-sdk {
    display: none!important;
}

#topInfoHolder {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
}

#topInfoHolder > div:not([class]):not([id]) {
    display: none;
}

#killCounter, #totalKillCounter {
    position: static;
    margin: 0;
    background-image: url(../img/icons/skull.png);
}

// .hatPreview {
//     padding: 0;
//     margin: 0;
//     vertical-align: none;

//     width: 45px;
//     height: 45px;
// }

// .storeItem {
//     display: flex;
//     align-items: center;
// }