@import "Variables.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;

    background: $bg-sub-color;
    padding: $default-padding;
    border-radius: $default-radius;

    h1 {
        font-size: 2.3em;
    }

    #credits {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        height: 45px;

        p {
            margin-top: auto;
        }
    }

    #logo {
        display: block;

        width: auto;
        height: 100%;
        scale: 1.2;
    }

    #close-button {
        display: block;
        fill: $close-button-color;
        cursor: pointer;

        width: auto;
        height: 100%;

        &:hover {
            fill: $close-button-color2;
        }
    }
}