$bg-color: #080808;
$bg-color-opacity: #08080896;
$bg-sub-color: #121212;
$bg-sub-color-opacity: #12121296;

$title-color: #999999;
$close-button-color: #ADADAD;
$close-button-color2: #EBEBEB;

$ui-bg-color: #0D0D0D;
$ui-bg-color-opacity: #0d0d0d76;
$ui-bg-sub-color: #3D3D3D;
$ui-bg-sub-color-opacity: #3D3D3D9a;
$ui-color: #585858;
$ui-sub-color: #7e7d7d;
$ui-focus-color: #5b82c4;

$option-bg-color-1: #2a2a2a;
$option-bg-color: #303030;
$option-border: #262626;

$option-bg-color2: #383838;
$option-border2: #2c2c2c;

$option-bg-color3-1: #353535;
$option-bg-color3: #404040;
$option-border3: #303030;

$red-option-bg-color: #7a3131;
$red-option-bg-color-opacity: #7a31317a;
$red-option-border: #672929;

$red-option-bg-color2: #893333;
$red-option-border2: #712d2d;

$red-option-bg-color3: #923939;
$red-option-border3: #712d2d;
$red-ui-sub-color: #b57272;

$default-padding: 10px;
$default-radius: 6px;
$default-option-width: 90px;
$default-option-height: 40px;

$slider-size: $default-option-height;
$slider-scale: 0.7;